Repository palomacqueiroz/SAP006-burger-queen-api-client, pull requests merged in 2021-09, with the labels that each got.

#13 auth needs review, routes working, wip: styled components
  package-lock.json
  package.json
  src/Pages/Login/Login.jsx
  src/Pages/Register/Register.jsx
  src/components/Form/Form.jsx
  src/components/Input/Input.jsx
  src/services/auth.js
  src/services/data.js
  src/services/registerSuccess.js
  src/services/validation.js
  src/styles.js
Labels: bug, help wanted, authentication, components

#14 Feat/auth login
  README.old.md
  package-lock.json
  public/index.html
  src/Pages/Login/Login.jsx
  src/Pages/Login/style.js
  src/components/Button.jsx
  src/components/Input/Input.jsx
  src/components/Input/style.js
  src/components/Menu/style.js
Labels: enhancement

#18 Feat/auth login
  src/Pages/Kitchen/Kitchen.jsx
  src/Pages/Login/Login.jsx
  src/Pages/NotFound/NotFound.jsx
  src/Pages/OrderStatus/OrderStatus.jsx
  src/Pages/Register/Register.jsx
  src/Pages/Tables/Tables.jsx
  src/components/Button/Button.jsx
  src/components/Button/style.js
  src/components/Footer/NavBarOptions.jsx
  src/components/Footer/style.js
  src/components/Header/NavBar.jsx
  src/components/Header/style.js
  src/components/Menu/Menu.jsx
Labels: enhancement, components

#30 testes unitários
  src/Pages/Login/Login.jsx
  src/Pages/Login/Login.spec.js
  src/Pages/Menu/Menu.jsx
  src/Pages/Register/Register.spec.js
  src/Pages/Register/RegisterForm.jsx
  src/Pages/Tables/Tables.jsx
  src/Pages/Tables/style.js
  src/components/Button/style.js
  src/components/Footer/NavBarOptions.jsx
  src/components/Form/Form.jsx
  src/components/Header/Header.jsx
  src/components/Header/NavBar.jsx
  src/components/Header/style.js
  src/components/ItemsMenu/itemCard.js
  src/components/Menu/Menu.jsx
  src/routes/paths.js
  src/routes/routes.jsx
  src/services/auth.js
  src/services/data.js
Labels: help wanted, components, unit tests

#31 button component and style of menu and tables page
  package-lock.json
  package.json
  src/App.js
  src/App.scss
  src/Assets/logout.png
  src/Assets/menu.png
  src/Assets/orders-status.png
  src/Assets/tables.png
  src/Pages/Login/Login.jsx
  src/Pages/Menu/Menu.jsx
  src/Pages/Menu/style.scss
  src/Pages/Register/RegisterForm.jsx
  src/Pages/Tables/Tables.jsx
  src/Pages/Tables/style.js
  src/Pages/Tables/tables.scss
  src/components/Button/Button.jsx
  src/components/Button/style.js
  src/components/Button/style.scss
  src/components/Footer/NavBarOptions.jsx
  src/components/Footer/style.js
  src/components/Footer/style.scss
  src/components/Header/Header.jsx
  src/components/Header/MealNavBar.jsx
  src/components/Header/NavBar.jsx
  src/components/Header/style.scss
  src/components/ItemsMenu/OrdersList.jsx
  src/routes/paths.js
  src/routes/redirections.js
  src/routes/routes.jsx
  src/services/auth.js
  src/services/data.js
Labels: bug, enhancement, help wanted, components

#33 WIP: list items
  src/Pages/Menu/Menu.jsx
  src/Pages/Register/RegisterForm.jsx
  src/Pages/Tables/Tables.jsx
  src/components/Header/Header.jsx
  src/components/Header/MealNavBar.jsx
  src/components/ItemsMenu/OrdersList.jsx
  src/components/ItemsMenu/style.scss
  src/services/auth.js
  src/services/data.js
  src/services/storage.js
Labels: bug, enhancement, help wanted, API consume, authentication, components

#34 Ajustes no componente Menu
  src/Pages/Kitchen/Kitchen.jsx
  src/Pages/Kitchen/style.scss
  src/Pages/Menu/Menu.jsx
  src/Pages/Register/RegisterForm.jsx
  src/components/Form/useForm.js
  src/services/auth.js
  src/services/data.js
Labels: bug, help wanted, authentication, components

#35 Feat/auth login
  package-lock.json
  src/Pages/Login/Login.jsx
  src/Pages/Login/styleLogin.scss
  src/Pages/Menu/Menu.jsx
  src/Pages/Register/RegisterForm.jsx
  src/Pages/Register/styleRegister.scss
  src/services/storage.js
Labels: API consume

#36 Feat/auth login
  src/Assets/logoTablet.png
  src/Assets/register.png
  src/Assets/vixiLogo.png
  src/Pages/Login/Login.jsx
  src/Pages/Login/login.scss
  src/Pages/Register/RegisterForm.jsx
  src/Pages/Register/register.scss
  src/components/Button/Button.jsx
  src/components/Button/style.scss
  src/components/Input/Input.jsx
  src/components/Input/input.scss
  src/components/Input/style.js
Labels: components

#42 WIP: add and remove items
  src/Pages/Menu/Menu.jsx
  src/Pages/Tables/Tables.jsx
  src/components/ItemsMenu/CartList.jsx
  src/components/ItemsMenu/ItemsMenu.jsx
  src/services/data.js
Labels: bug, components
